@import "../../../styles-variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.countdown-container {
  flex: 1 1 0;
  flex-wrap: wrap;
}

.timer-value-container,
.timer-input-container,
.timer-timestamp-container,
.star-pause-container {
  width: calc(50% - 48px);
  display: flex;
  min-height: 150px;
}

@include media-breakpoint-down(sm) {
  .timer-value-container,
  .timer-input-container,
  .timer-timestamp-container,
  .star-pause-container {
    width: calc(100% - 48px);
  }
}
