<div class="timer-input-section">
  <label class="font-weight-bold pr-1">Enter timer limit: </label>
  <input type="number" class="mb-4" [(ngModel)]="countdown" />
  <div class="btn-group d-block text-right">
    <app-button
      class="mr-3"
      type="button"
      buttonText="Start/Pause"
      (click)="countdown && sendMessage()"
      classname="btn-outline-primary"
    ></app-button>
    <app-button
      type="button"
      buttonText="Reset"
      classname="btn-outline-primary"
      (click)="onClickReset()"
    ></app-button>
  </div>
</div>
