<div class="container mt-5">
  <div class="btn-group d-block text-right d-flex justify-content-end align-items-center">
    <div class="pr-3">
      <span *ngFor="let item of menu">
        <app-button
          class="btn btn-white"
          [icon]="item.name"
          type="button"
          mode="displayMode"
          value="item.value"
          (parentFunc)="onDisplayModeChange(item.value)"
          [ngClass]="{ 'btn-primary active': displayMode === item.value }"
        ></app-button>
      </span>
    </div>
    <app-select (parentChange)="sort($event)" [options]="options"> </app-select>
  </div>

  <div class="row mt-4">
    <div
      *ngFor="let item of prodData"
      [ngClass]="displayMode === 1 ? 'col-3' : 'col-6'"
    >
      <div class="my-2 border border-dark p-3 text-center">
        <div>{{ item.name }}</div>
        <div>{{ item.price }}</div>
      </div>
    </div>
  </div>
</div>
