<div class="container mt-5">
  <div class="btn-group d-block text-right">
    <span *ngFor="let item of menu">
      <app-button
        class="btn btn-white"
        [icon]="item.name"
        type="button"
        mode="displayMode"
        value="item.value"
        (parentFunc)="onDisplayModeChange(item.value)"
        [ngClass]="{ 'btn-primary active': displayMode === item.value }"
      ></app-button>
    </span>
    <app-select (parentChange)="sort($event)" [options]="options">
    </app-select>
  </div>
  <div>
    <!-- grid -->
    <div class="row">
      <div
        *ngFor="let item of prodData"
        [ngClass]="displayMode === 1 ? 'col-3' : 'col-6'"
      >
        <div class="my-2" style="border: 1px solid;">
          <div>{{ item.name }}</div>
          <div>{{ item.price }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
