<div class="container mt-5">
  <div
    class="countdown-timer-subject d-md-flex flex-wrap justify-content-around"
  >
    <app-countdown-timer-subject-display
      class="text-center timer-value-container mb-4 col-4 d-md-flex justify-content-center align-items-center border border-dark"
    ></app-countdown-timer-subject-display>
    <app-countdown-timer-subject-input
      class="timer-input-container mb-4 col-6 d-md-flex border border-dark p-5"
    ></app-countdown-timer-subject-input>
    <div class="w-100"></div>
    <app-countdown-timer-subject-timestamp
      class="timer-timestamp-container col-4 d-md-flex justify-content-center"
    ></app-countdown-timer-subject-timestamp>
    <app-countdown-timer-subject-clicks
      class="timer-clicks-container col-6 d-md-flex justify-content-around"
    ></app-countdown-timer-subject-clicks>
  </div>
</div>
